.sidebar-wrapper {

    .sidebar-brand {
        padding: 1rem 1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $sidebar-brand-height;

        #close-sidebar {
            cursor: pointer;
            font-size: 20px;
        }

        >a {
            text-transform: uppercase;
            font-weight: bold;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}